{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HOT Play</title>
    <!--Steam StyleSheet  -->
    <link href="https://use.typekit.net/bmd7vlq.css" rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/motiva_sans.css?v=FAK4O46_mOLB&amp;l=english"
        rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_global.css?v=q0s1SprRKA7P&amp;l=english"
        rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/buttons.css?v=6uRURryOh96m&amp;l=english"
        rel="stylesheet" type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/store.css?v=ZI_5VEPYpykL&amp;l=english" rel="stylesheet"
        type="text/css">
    <link href="https://steamstore-a.akamaihd.net/public/css/v6/home.css?v=Mr_QfRqGty0B&amp;l=english" rel="stylesheet"
        type="text/css">
    <link href="{% static 'css/autumn2019_sale.css' %}" rel="stylesheet">
    <link href="https://steamstore-a.akamaihd.net/public/shared/css/shared_responsive.css?v=GXt0zg7hRLhk&amp;l=english"
        rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" media="screen"
        href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap-combined..css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% block headstyle %}
    {% endblock %}
</head>
<style>
{% block stylesheet %}
{% endblock stylesheet %}
</style>
<body id="page-top" onload="showClock()">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul id = "sidebarbg" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fab fa-gripfire"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Hot Play <sup>2</sup></div>
            </a>
    <div class="well">
    
    </div>
    
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - MainPage -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <!-- 나중에 urls.py 정리하고 링크를 index로 걸어주기 -->
                    <i class="fas fa-home"></i>
                    <span>Main Page</span></a>                    
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                PLATFORM
            </div>

            <!-- Nav Item - Twitch TV -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'live:get_platform' 0 %}">
                    <i class="fab fa-twitch"></i>
                    <span>Twitch TV</span></a>
            </li>

            <!-- Nav Item - YOUTUBE -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'live:get_platform' 1 %}">
                    <i class="fab fa-youtube"></i>
                    <span>Youtube</span></a>
            </li>

            <!-- Nav Item - AfreecaTV -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'live:get_platform' 2 %}">
                    <i class="fas fa-tv"></i>
                    <span>Afreeca TV</span></a>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                ???
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a id = "dark" class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dark Mode</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle">
                </button>
            </div>
            <li>
            <span id="now_Clock" class="clock"></span>    
            <span id="target_Clock" class="clock"></span>  
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar class-->
                <nav id="topnavbg" class="navbar navbar-expand navbar-light bg-gradient-primary topbar static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        ="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul id = "topbarbg" class="navbar-nav ml-auto bg-gradient-primary">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1" >
                            <button type="button" class="nav-link dropdown-toggle btn btn-primary" data-toggle="modal" data-target="#alarm_modal">
                                <i class="fas fa-stopwatch"></i>
                            </button>
                        </li>
                        <div class="modal fade" id="alarm_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="datetimepicker3" class="input-append">
                                    <input data-format="hh:mm:ss" placeholder"시간 선택" id="target_time "type="text"></input>
                                    <span class="add-on">
                                    <i class="fas fa-calendar-alt"></i>
                                    </span>
                                    <button type="button" id="time_select"  data-dismiss="modal" class="btn btn-primary">Save</button>
                                    </div>
                                    <hr>
                                    <div id="stopwatch">
                                        <input type="number" min="0" max="23"placeholder="시간"class="stopwatch text-center" id="stop_hour">
                                        <input type="number" min="0" max="60"placeholder="분"class="stopwatch text-center" id="stop_min">
                                        <input type="number" min="0" max="60"placeholder="초"class="stopwatch text-center" id="stop_sec">
                                        <span id="target_stopwatch"> 후</span>
                                        <button type="button" id="stopwatch_select"  data-dismiss="modal" class="btn btn-primary">Save</button>                                            
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been
                                            having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60"
                                            alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them
                                            sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60"
                                            alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so
                                            far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people
                                            say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                                <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <div class="well">
  
                {% block test %}
                {% endblock test %}
                <div class = "container-fluid bg-white2">
                {% block content %}

                {% endblock %}
                </div>
                <!-- Footer -->
                <footer class="sticky-footer bg-white" id = "footerbg">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->

        <!-- <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
        <script type="text/javascript"
     src="{% static 'js/datetimepicker.min.js'%}">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>
    <script type="text/javascript">
    $(function() {
        $(document).on('change','.stopwatch',function(){
            var currentDate = new Date();
            var now_hour = currentDate.getHours();
            var target_hour = $('#stop_hour').val()
            var now_min = currentDate.getMinutes();
            var target_min = $('#stop_min').val()
            var now_sec = currentDate.getSeconds();
            var target_sec = $('#stop_sec').val()
            var msg = target_hour+ "시간 "
            msg += target_min+"분 "
            msg += target_sec+"초 후"
            $('#target_stopwatch').text(msg)
        })
        $(document).on('click', '#stopwatch_select', function(){
            var currentDate = new Date();
            var now_hour = currentDate.getHours();
            var now_min = currentDate.getMinutes();
            var now_sec = currentDate.getSeconds();
            var target_hour = Number($('#stop_hour').val()) + Number(now_hour)
            var target_min = Number($('#stop_min').val()) + Number(now_min)
            var target_sec = Number($('#stop_sec').val())+ Number(now_sec)
            target_min += parseInt(target_sec / 60)
            target_sec = parseInt(target_sec % 60)
            target_hour += parseInt(target_min / 60)
            target_min = parseInt(target_min % 60)
            target_hour = parseInt(target_hour % 24)
            msg = target_hour+ "시간 "
            msg += target_min+"분 "
            msg += target_sec+"초"
            var target = target_hour.toString()
            target +=target_min.toString()
            target +=target_sec.toString()
            localStorage.setItem('target', target);
        })
        $('#datetimepicker3').datetimepicker({
            pickDate: false
        });
        $('#time_select').click(function(){
            var picker = $('#datetimepicker3').data('date');
            var time = picker.split(':')
            console.log(time)
            var target =''
            time.forEach(function(tmp){
                target+=tmp
            })
            localStorage.setItem('target', target);
        })
    });
    </script>
        <script>
            var colormode = JSON.parse(localStorage.getItem('darkmode'))
            function showClock(){
                var currentDate = new Date();
                var msg = "현재 시간:" +currentDate.getHours()+ "시"
                msg += currentDate.getMinutes()+ "분";
                msg += currentDate.getSeconds()+ "초";
                var now = '';
                now += currentDate.getHours()
                now += currentDate.getMinutes()
                now += currentDate.getSeconds();
                $('#now_Clock').text(msg);
                setTimeout(showClock,1000);
                var target = (localStorage.getItem('target'));
                $('#target_Clock').text(target)
                if(target!= 0 && target < now){
                    var frames = $(document).find('iframe')
                    frames.attr('src','')
                    localStorage.setItem('target', 0);
                }
            }
            {% comment %} dark mode == true {% endcomment %}
            if (colormode) {
                $('#sidebarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#topbarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#topnavbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#outsidebg').toggleClass(['bg-white', 'bg-white2']);
                $('#contentbg').toggleClass(['home_categories_ctn', 'home_categories_ctn2']);
                $('#footerbg').toggleClass(['bg-white', 'bg-gradient-primary2']);
            } else {
                $('#sidebarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#topbarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#topnavbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                $('#outsidebg').toggleClass(['bg-white', 'bg-white2']);
                $('#contentbg').toggleClass(['home_categories_ctn', 'home_categories_ctn2']);
                $('#footerbg').toggleClass(['bg-white', 'bg-gradient-primary2']);
            }
            $(function(){
                $('#dark').on('click', function(){
                    var currentMode = JSON.parse(localStorage.getItem('darkmode'));
                    localStorage.setItem('darkmode', !currentMode);
                    $('#sidebarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                    $('#topbarbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                    $('#topnavbg').toggleClass(['bg-gradient-primary', 'bg-gradient-primary2']);
                    $('#outsidebg').toggleClass(['bg-white', 'bg-white2']);
                    $('#contentbg').toggleClass(['home_categories_ctn', 'home_categories_ctn2']);
                    $('#footerbg').toggleClass(['bg-white', 'bg-gradient-primary2']);
                })
            })
            
        </script>

        {% block script %}

        {% endblock %}
</body>

</html>