{% extends 'base.html' %}
{% load staticfiles %}

{% block headstyle %}
<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/album/">

<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32"
    type="image/png">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16"
    type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg"
    color="#563d7c">
<link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="https://getbootstrap.com/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.4/examples/album/album.css" rel="stylesheet">
{% endblock %}


{% block content %}

{% for live in lives %}
<div onclick="location.href='{{live.stream_url}}'"class="col-md-4" style="float:left">
    <div class="card mb-4 shadow-sm">
    <img style="height:10rem" src="{{live.stream_thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body text-left">
            <div style="height:3rem">
                <p class="font-weight-bold mb-1 stream_thumbnail_title" data-toggle="tooltip" data-placement="top"
                title="{{live.title}}">
                    {% if live.tof == 1 %}
                    {{live.title|slice:":20"}}...
                    {% else %}
                    {{live.title}}
                    {% endif %}
                </p>
            </div>
            <div style="height:2rem;">
            <div class="justify-content-between align-items-center text-right">
                <p>{{live.channel_name}} / {{live.stream_views}}</p>
            </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}