{% extends 'index.html' %}
{% block stylesheet %}
<style>
    .container {}

    .w-30 {
        margin: auto;
        float: left;
        width: 20rem;
    }

    .slide-thumbnail {
        width: 500px;
        heught: 300px;
    }
</style>
{% endblock %}
{% block randomBox %}
<div class="target-screen-left">
    <iframe id="screen-left" class="d-block w-100" width="500" height="300" src="" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="target-screen-right">
    <iframe id="screen-right" class="d-block w-100" width="500" height="300" src="" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
{% block streamList %}
<div class="container">
    <span class="w-30">
        <table class="table table-striped table-bordered table-hover youtube">
            <thead class="thead-light">
                <th scope="col">Youtube</th>
            </thead>
            <td id="youtube-be4">
                <img src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif">
            </td>
        </table>
    </span>
    <span class="w-30">
        <table class="table table-striped table-bordered table-hover twitch">
            <thead class="thead-light">
                <th scope="col">Twitch</th>
            </thead>
            <td id="twitch-be4">
                <img src="https://media.giphy.com/media/jAYUbVXgESSti/giphy.gif">
            </td>
        </table>
    </span>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/41ac120a10.js" crossorigin="anonymous"></script>
<script>
    $(function () {
        $(document).on('change', 'input[name="platform"]' ,function () {       
            $('#screen-left').attr('src',$(this).val())
        });
        
    })
    $(function () {
        $.ajax({
            url: '{% url "live:get_all" 10%}',
            method: 'POST',
            data: {
                csrfmiddlewaretoken: '{{csrf_token}}' 
            },
            success: function (data) {
                $('#twitch-be4').hide()
                $('.twitch').append(data);
                // 데이터를 불러와서 어느쪽 리스트 인지 고르기
            },
            error: function (data) {
                alert("twitch fail");
            }
        })
       
    });
</script>
{% endblock %}