{% extends 'subfunction/base.html' %}
{% load staticfiles %}


{% block content %}
<!-- Begin Page Content -->
<div id = "outsidebg" class="container-fluid bg-white">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">10초 영상 자리</h1>
  </div>

  <!-- Content Row (PlatForm Video Position) -->
  <div class="row">

    <div class="home_categories_ctn" id = "contentbg">
      <!-- 전체 배경 화면 색이 위 class에 잡혀있는데 우리가 가지고 있는 파일에서 수정
              불가, 그래서 style을 줘서 변경해야 할 듯 -->
      <div class="home_pagecontent_ctn" id="sale_tag_categories">

        <!-- First PlatForm Start -->
        <div class="home_category_ctn">
          <div class="home_category_title_ctn" style="background: #6441a5">
            <!-- style="background: linear-gradient( 330deg, #96436a 0%, #e0744a 90% );" 나중에 그라데이션 추가-->
            <div class="home_category_title"><b>Twitch<br>
                TV</b><br>
            </div>
          </div>

          <!-- 아래 배경은 영상 나오는 배경 색 -->
          <div class="home_category_games_ctn" style="background: rgba( 150, 67, 106, 0.3 );">

            <!-- 영상 들어가는 부분 시작 -->
            <div class="salerow salerow3 multiline"><a class="sale_capsule app_impression_tracked"
                data-ds-appid="787480"
                href="https://store.steampowered.com/app/787480/Phoenix_Wright_Ace_Attorney_Trilogy__123/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/787480/capsule_616x353.jpg?t=1566527861">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="2112000">
                  <div class="discount_pct">-34%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 32,000</div>
                    <div class="discount_final_price">₩ 21,120</div>
                  </div>
                </div>
              </a><a class="sale_capsule with_microtrailer app_impression_tracked" data-ds-appid="937170"
                href="https://store.steampowered.com/app/937170/Otakus_Adventure/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/937170/capsule_616x353.jpg?t=1572512910"><video
                    class="sale_capsule_video" loop="loop" preload="none" muted="muted">
                    <source src="https://steamcdn-a.akamaihd.net/steam/apps/256749932/microtrailer.webm?t=1557200226"
                      type="video/webm"></video>
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="525000">
                  <div class="discount_pct">-30%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 7,500</div>
                    <div class="discount_final_price">₩ 5,250</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="413410"
                href="https://store.steampowered.com/app/413410/Danganronpa_Trigger_Happy_Havoc/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/413410/capsule_616x353.jpg?t=1542772453">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="840000">
                  <div class="discount_pct">-60%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 21,000</div>
                    <div class="discount_final_price">₩ 8,400</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="413420"
                href="https://store.steampowered.com/app/413420/Danganronpa_2_Goodbye_Despair/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/413420/capsule_616x353.jpg?t=1542772444">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="840000">
                  <div class="discount_pct">-60%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 21,000</div>
                    <div class="discount_final_price">₩ 8,400</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="1047440"
                href="https://store.steampowered.com/app/1047440/DATE_A_LIVE_Rio_Reincarnation/?snr=1_4_autumnsale__628"
                data-ds-descids="[1,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/1047440/capsule_616x353.jpg?t=1570566621">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="2550000">
                  <div class="discount_pct">-50%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 51,000</div>
                    <div class="discount_final_price">₩ 25,500</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="622220"
                href="https://store.steampowered.com/app/622220/FateEXTELLA_LINK/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/622220/capsule_616x353.jpg?t=1571845973">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="3048000">
                  <div class="discount_pct">-40%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 50,800</div>
                    <div class="discount_final_price">₩ 30,480</div>
                  </div>
                </div>
              </a></div>
            <!-- 영상 들어가는 부분 시작 -->


          </div><a class="see_more_link" href="https://store.steampowered.com/tags/en/Visual%20Novel/">See
            more...</a>
        </div>
        <!-- First PlatForm End -->

        <!-- Second  PlatForm Start -->
        <div class="home_category_ctn">
          <div class="home_category_title_ctn" style="background:#FF0000">
            <!-- linear-gradient( 330deg, #c98446 0%, #d9ab64 45%, #eed290 90% ); -->
            <div class="home_category_title"><b>YOUTUBE<br>
                KOREA</b><br>
            </div>
          </div>
          <div class="home_category_games_ctn" style="background: rgba( 201, 132, 70, 0.3 );">
            <div class="salerow salerow3 multiline"><a class="sale_capsule with_microtrailer app_impression_tracked"
                data-ds-appid="449960"
                href="https://store.steampowered.com/app/449960/Book_of_Demons/?snr=1_4_autumnsale__628"
                data-ds-tagids="[1720,1646,4182,122,5851,4231,4604,1666,1684,9541,4106,19,21,1716,7481]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/449960/capsule_616x353.jpg?t=1574680914">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1040000">
                  <div class="discount_pct">-60%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 26,000</div>
                    <div class="discount_final_price">₩ 10,400</div>
                  </div>
                </div>


              </a><a class="sale_capsule with_microtrailer app_impression_tracked" data-ds-appid="601150"
                href="https://store.steampowered.com/app/601150/Devil_May_Cry_5/?snr=1_4_autumnsale__628"
                data-ds-descids="[1,2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/601150/capsule_616x353.jpg?t=1574041921">
                </div>
                <div class="discount_block empty  discount_block_inline"></div>
              </a><a class="sale_capsule with_microtrailer app_impression_tracked" data-ds-appid="356190"
                href="https://store.steampowered.com/app/356190/Middleearth_Shadow_of_War/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/356190/capsule_616x353.jpg?t=1538497118"><video
                    class="sale_capsule_video" loop="loop" preload="none" muted="muted">
                    <source src="https://steamcdn-a.akamaihd.net/steam/apps/256697861/microtrailer.webm?t=1507837794"
                      type="video/webm"></video>
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1325000">
                  <div class="discount_pct">-75%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 53,000</div>
                    <div class="discount_final_price">₩ 13,250</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="219990"
                href="https://store.steampowered.com/app/219990/Grim_Dawn/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/219990/capsule_616x353.jpg?t=1563475869">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="675000">
                  <div class="discount_pct">-75%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 27,000</div>
                    <div class="discount_final_price">₩ 6,750</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="588650"
                href="https://store.steampowered.com/app/588650/Dead_Cells/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/588650/capsule_616x353.jpg?t=1573251671">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1806000">
                  <div class="discount_pct">-30%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 25,800</div>
                    <div class="discount_final_price">₩ 18,060</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="644830"
                href="https://store.steampowered.com/app/644830/The_Surge_2/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/644830/capsule_616x353.jpg?t=1572365091">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="3288000">
                  <div class="discount_pct">-40%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 54,800</div>
                    <div class="discount_final_price">₩ 32,880</div>
                  </div>
                </div>
              </a></div>
          </div><a class="see_more_link" href="https://store.steampowered.com/tags/en/Hack%20and%20Slash/">See
            more...</a>
        </div>
        <!-- Second PlatForm End -->

        <!-- Third PlatForm Start -->
        <div class="home_category_ctn">
          <div class="home_category_title_ctn" style="background: #1b4de8">
            <!--linear-gradient( 330deg, #c98446 0%, #d9ab64 45%, #eed290 90% );  -->
            <!-- 1b4de8 -->
            <div class="home_category_title"><b>Afreeca<br>
                TV</b><br>
            </div>
          </div>
          <div class="home_category_games_ctn" style="background: rgba( 201, 132, 70, 0.3 );">
            <div class="salerow salerow3 multiline"><a class="sale_capsule with_microtrailer app_impression_tracked"
                data-ds-appid="449960"
                href="https://store.steampowered.com/app/449960/Book_of_Demons/?snr=1_4_autumnsale__628"
                data-ds-tagids="[1720,1646,4182,122,5851,4231,4604,1666,1684,9541,4106,19,21,1716,7481]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/449960/capsule_616x353.jpg?t=1574680914">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1040000">
                  <div class="discount_pct">-60%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 26,000</div>
                    <div class="discount_final_price">₩ 10,400</div>
                  </div>
                </div>
              </a><a class="sale_capsule with_microtrailer app_impression_tracked" data-ds-appid="601150"
                href="https://store.steampowered.com/app/601150/Devil_May_Cry_5/?snr=1_4_autumnsale__628"
                data-ds-descids="[1,2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/601150/capsule_616x353.jpg?t=1574041921">
                </div>
                <div class="discount_block empty  discount_block_inline"></div>
              </a><a class="sale_capsule with_microtrailer app_impression_tracked" data-ds-appid="356190"
                href="https://store.steampowered.com/app/356190/Middleearth_Shadow_of_War/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/356190/capsule_616x353.jpg?t=1538497118"><video
                    class="sale_capsule_video" loop="loop" preload="none" muted="muted">
                    <source src="https://steamcdn-a.akamaihd.net/steam/apps/256697861/microtrailer.webm?t=1507837794"
                      type="video/webm"></video>
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1325000">
                  <div class="discount_pct">-75%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 53,000</div>
                    <div class="discount_final_price">₩ 13,250</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="219990"
                href="https://store.steampowered.com/app/219990/Grim_Dawn/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/219990/capsule_616x353.jpg?t=1563475869">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="675000">
                  <div class="discount_pct">-75%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 27,000</div>
                    <div class="discount_final_price">₩ 6,750</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="588650"
                href="https://store.steampowered.com/app/588650/Dead_Cells/?snr=1_4_autumnsale__628">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/588650/capsule_616x353.jpg?t=1573251671">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="1806000">
                  <div class="discount_pct">-30%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 25,800</div>
                    <div class="discount_final_price">₩ 18,060</div>
                  </div>
                </div>
              </a><a class="sale_capsule app_impression_tracked" data-ds-appid="644830"
                href="https://store.steampowered.com/app/644830/The_Surge_2/?snr=1_4_autumnsale__628"
                data-ds-descids="[2,5]">
                <div class="sale_capsule_image_ctn">
                  <div class="sale_capsule_image_hover"></div><img class="sale_capsule_image autosize"
                    src="https://steamcdn-a.akamaihd.net/steam/apps/644830/capsule_616x353.jpg?t=1572365091">
                </div>
                <div class="discount_block  discount_block_inline" data-price-final="3288000">
                  <div class="discount_pct">-40%</div>
                  <div class="discount_prices">
                    <div class="discount_original_price">₩ 54,800</div>
                    <div class="discount_final_price">₩ 32,880</div>
                  </div>
                </div>
              </a></div>
          </div><a class="see_more_link" href="https://store.steampowered.com/tags/en/Hack%20and%20Slash/">See
            more...</a>
        </div>
        <!-- Third PlatForm End -->
        
      </div>
    </div>
    <!-- END PlatForm Video Position -->

  </div>

  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}